{% extends 'base.html.twig' %}

{% block title %}Edit HikeSession{% endblock %}

{% block body %}
    <h1>Edit HikeSession</h1>

    {{ include('hike_session/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hike_session_index') }}">back to list</a>

    {{ include('hike_session/_delete_form.html.twig') }}
{% endblock %}
