{% extends 'base.html.twig' %}

{% block title %}New HikeSession{% endblock %}

{% block body %}
    <h1>Create new HikeSession</h1>

    {{ include('hike_session/_form.html.twig') }}

    <a href="{{ path('app_hike_sessions') }}">back to list</a>
{% endblock %}
