<form method="post" action="{{ path('app_hike_delete', {'id': hike.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hike.id) }}">
    <button class="btn">Delete</button>
</form>
